.categories-dropdown {
    width: 100%;
    margin-top: 5px;
    float: left;
}

.dropdown-toggle {
    width: 100%;
    background-color: #7280FF;
    border-color: #8888f8;
    color: black;
}

.dropdown-toggle:hover {
    background-color: #757bf2;
    border-color: #8888f8;
}

.dropdown-toggle:focus {
    background: #757bf2;
    border-color: #8888f8;
}

.categories-menu {
    height: 300px;
}

.dropdown-menu {
    width: 100%;
}

.scrollbar {
    overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar {
    width: 5px;
}

.scrollbar::-webkit-scrollbar-track {
    background: #9EA8FF;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #7378bf;
}

