.nav-bar {
    background-color: #7280FF;
}

.nav-brand-text {
    font-family: Saira sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: #050D2B;
}

.nav-item-text {
    font-family: Roboto sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    float: right;
    margin-top: -5px;
    color: #050D2B;
}

.nav-item-text:hover {
    color: #0a1e5f;
}

.nav-login-button {
    float: right;
    margin-top: -10px;
}

.nav-login-button-text {
    color: white;
}
