.AddWin {
    text-align: center;
}

.add-win-title {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: white;
    margin-top: 5%;
}

.add-win-info {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
}

.checkboxes {
    margin-top: 15px;
}

.checkbox {
    color: white;
}

.validation-row {
    width: 100%;
    margin-top: 3%;
    padding-left: 20px;
}

.add-win-button {
    width: 10%;
    margin: 3% 45%;
}