.Login {
    text-align: center;
}

.login-background {
    margin: 12% 35% 20px;
    border-radius: 20px;
    background-color: #9EA8FF;
    align-items: center;
    padding: 20px;
}

.login-button {
    margin-left: 20%;
    margin-right: 20%;
}